<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
	<head>

		<!-- Basic Page Needs -->
		<meta charset="utf-8">
		<title>Daniel Kay Law PC</title>
		<meta name="description" content="I have spent the last 28 years of my life representing clients. I love helping people through difficult times in their lives to the extent I can. I have represented thousands of clients and have tried over 200 jury trials. I can proudly say it is extremely rare that a client is not extremely happy with the services my office provides. I have a passion for what I do and the work ethic to continue to provide exemplary service to my clients.">

    <meta name="keywords" content="Daniel, G, Kay, Law, Lawyer, Attorney, At, Law, Help, Colorado, CO, Free, Consultation">


		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Favicons -->
		<link rel="shortcut icon" href="images/favicon.ico">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


		<!-- FONTS -->
		<link rel='stylesheet' id='Roboto-css' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
		<link rel='stylesheet' id='Patua+One-css' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
		
		<!-- CSS -->
		<link rel='stylesheet' id='global-css' href='../../css/global.css'>
		<link rel='stylesheet' id='structure-css' href='css/structure.css'>
		<link rel='stylesheet' id='local-css' href='css/lawyer.css'>
		<link rel='stylesheet' id='custom-css' href='css/custom.css'>

	</head>

	<body class=" layout-full-width no-content-padding header-classic sticky-header sticky-white subheader-both-center">
		<!-- Main Theme Wrapper -->
			<div id="Wrapper">
			<!-- Header Wrapper -->
				<div id="Header_wrapper" >
				<!-- Header -->
				<header>
					<!-- Header Top -  Info Area -->
				<div id="Action_bar">
						<div class="container">
							<div class="column one" style="margin-top:15px;">
								<!-- Header - contact info area-->
								<center>
									<h3 style="color:black;">
										Call today for a free consultation! + (719) 635-3611
									</h3>
								</center>
							</div>
						</div>
					</div>
					<!-- Header -  Logo and Menu area -->
				<div id="Top_bar">
						<div class="container">
							<div class="column one">
								<div class="top_bar_left clearfix">
									<!-- Logo-->
									<div class="logo">
										<a id="logo" href="../" title="Daniel G Kay Law"><img class="logo-main scale-with-grid" src="img/Danielkay.png" 	alt="BeLawyer - BeTheme" /><img class="logo-sticky scale-with-grid" src="../img/Danielkay.png" alt="" /></a>
									</div>
									
									<!-- Main menu-->
								<div class="menu_wrapper">
										<nav id="menu">
											<ul id="menu-main-menu" class="menu">
												<li >
													<a href="../"><span>Home</span></a>
												</li>
												<li class="current_page_item">
													<a href="#"><span>About us</span></a>
												</li>
												<li >
													<a href="../what-we-offer"><span>What we offer</span></a>
												</li>
												<li >
													<a href="../#reviews"><span>Reviews</span></a>
												</li>
												<li >
													<a href="../contact-us"><span>Contact us</span></a>
												</li>
											</ul>
										</nav><a style="" class="responsive-menu-toggle " href="#"><i  class="icon-menu"></i></a>
									</div>
									<!-- Header Searchform area-->
									<!-- <div class="search_wrapper">
										<form method="get" id="searchform" action="#">
											<i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
											<input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
											<input type="submit" class="submit flv_disp_none" value="" />
										</form>
									</div> -->
							</div>
						</div>
					</div>
				</header>

				<!--Subheader area - only for certain pages -->
				<!-- <div id="Subheader">
					<div class="container">
						<div class="column one">
							<h1 class="title">Over 28 years experience serving clients and the community</h1>
						</div>
					</div>
				</div> -->
			</div>
			<!-- Main Content -->
				<div id="Content">
				<div class="content_wrapper clearfix">
					<div class="sections_group">
						<div class="entry-content" >
							<div class="section " id="startLook" style="padding-top:50px; padding-bottom:20px; background-color:; background-image:url(../img/background2.png); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" data-stellar-background-ratio="0.5">
								<div class="section_wrapper clearfix">
									<div class="items_group clearfix">
										
										<div class="column one-sixth column_placeholder">
											<div class="placeholder">
												&nbsp;
												<div style="font-size:25px; color:white;"><i>Over 28 years experience serving clients and the community</i></div>
											</div>
										</div>
										
										<div class="column two-third column_column ">
											<div class="column_attr align_center" >
												<div class="image_frame no_link scale-with-grid alignnone no_border" style="height: 400px;">
												
												
												</div>
												<hr class="no_line hrmargin_b_20" />
												<h2 style="color: #021542;">  </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section " style="padding-top:50px; padding-bottom:40px; ">
								<div class="section_wrapper clearfix">
									<div class="items_group clearfix">
										<!-- One Second (1/2) Column -->
					<div class="column one-second column_column ">
											<div class="column_attr " >
												<div style="padding: 30px 6% 0px; border-right: 1px solid #ccc;">
													<h2>Daniel G Kay, PC
													<br><br>
													Attonery at Law</h2>
													<hr class="no_line hrmargin_b_40" />
													<!-- One Second (1/2) Column -->
					<div class="column one-second">
														<div class="image_frame no_link scale-with-grid alignnone no_border" >
															<div class="image_wrapper"><img class="scale-with-grid" src="../img/DanielProfile.png" alt=""/>
															</div>
														</div>
														<hr class="no_line hrmargin_b_20" />
														<p class="big">
															I have spent the last 28 years of my life representing clients.  I love helping people through difficult times in their lives to the extent I can.  I have represented thousands of clients and have tried over 200 jury trials. I can proudly say it is extremely rare that a client is not extremely happy with the services my office provides.  I have a passion for what I do and the work ethic to continue to provide an excellent service to my clients.
 
														</p>
													</div>
													<!-- One Second (1/2) Column -->
					<div class="column one-second">
														<p class="big">
															
														</p>
														<p class="big">
															
														</p>
													</div>
													<hr class="no_line hrmargin_b_1" />
												</div>
											</div>
										</div>
										<!-- One Second (1/2) Column -->
					<div class="column one-second column_column ">
											<div class="column_attr " >
												<div style="padding: 30px 6% 0px;">
													<h2>My contributions
													<br />
													</h2>
													<hr class="no_line hrmargin_b_40" />
													<!-- One Second (1/2) Column -->
					<div class="column one-second">
														<p class="big">
															Along with bringing excellent service to my clients, I also have a strong focus on giving back to the community. Over the years I have donated to more than 80 local and domestic charitable institutions. Acting locally and thinking globally is a philosophy that I have remained attached to over my 28 years working as an attorney. <b>That’s why I donate 20% of my fee in a successful case directly to charity.</b> Working together is not just a win for both of us, but a win for others in need as well. 
														</p>
														<p class="big">
														
														</p>
													</div>
													<!-- One Second (1/2) Column -->
					<div class="column one-second">
														<p class="big">
															
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="section the_content no_content">
								<div class="section_wrapper">
									<div class="the_content_wrapper"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer-->
			<footer id="Footer" class="clearfix">
            <div class="widgets_wrapper">
                <div class="container">
                    <!-- One Third (1/3) Column -->
                    <div class="column one-third">
                        <!-- Text Area -->
                        <aside id="text-2" class="widget widget_text">
                            <h4></h4>
                            <div class="textwidget">
                                Law Firms and Law Offices in Colorado Springs, <br>CO
                                Legal Services Office
                            </div>
                        </aside>
                    </div>
                    <!-- One Third (1/3) Column -->
                    <div class="column one-third">
                        <!-- Text Area -->
                        <aside id="text-3" class="widget widget_text">
                            <h4></h4>
                            <div class="textwidget">
                                Call today for your free Consultation<br>
                                Phone: (719) 635-3611<br>
                                Fax: (719) 635-5544
                            </div>
                        </aside>
                    </div>
                    <!-- One Third (1/3) Column -->
                    <div class="column one-third">
                        <!-- Text Area -->
                        <aside id="text-4" class="widget widget_text">
                            <h4></h4>
                            <div class="textwidget">
                                
                                318 E.Pike Peak Ave<br>
                                Colorado Springs, CO 80903
                                
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
				<!-- Footer copyright-->
			<div class="footer_copy">
                <div class="container">
                    <div class="column one">
                       <a id="back_to_top" href="#" class="button button_left button_js"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
                        <div class="copyright">
                            &copy; 2015 BeLawyer - BeTheme. Edits & Development by Stuart Grossman - <a href="https://www.codingstew.net" target="_blank"><i style="color:gray;" class="fa fa-sitemap fa-lg"></i></a>
                        </div>
                        <!--Social info area-->
                        <ul class="social">
                            <!-- <li class="skype">
                                <a href="#" title="Skype"><i class="icon-skype"></i></a>
                            </li> -->
                            <li class="facebook">
                                <a target="_blank" href="https://www.facebook.com/DanielKayLaw/" title="Facebook"><i class="icon-facebook"></i></a>
                            </li>
                            <li class="googleplus">
                                <a target="_blank" href="https://plus.google.com/b/103489866348625083760/+DanielKayAttorneyatLawColoradoSprings/about" title="Google+"><i class="icon-gplus"></i></a>
                            </li>
                           <!--  <li class="twitter">
                                <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
                            </li>
                            <li class="vimeo">
                                <a href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
                            </li>
                            <li class="youtube">
                                <a href="#" title="YouTube"><i class="icon-play"></i></a>
                            </li>
                            <li class="flickr">
                                <a href="#" title="Flickr"><i class="icon-flickr"></i></a>
                            </li> -->
                            <li class="linkedin">
                                <a target="_blank" href="https://www.linkedin.com/in/daniel-kay-10ab0b117" title="LinkedIn"><i class="icon-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			</footer>
		</div>

		<!-- JS -->

		<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>

		<script type="text/javascript" src="../js/mfn.menu.js"></script>
		<script type="text/javascript" src="../js/jquery.plugins.js"></script>
		<script type="text/javascript" src="../js/jquery.jplayer.min.js"></script>
		<script type="text/javascript" src="../js/animations.js"></script>
		<script type="text/javascript" src="../js/scripts.js"></script>

		<script type="text/javascript">
			jQuery(window).load(function() {
				var retina = window.devicePixelRatio > 1 ? true : false;
				if (retina) {
					var retinaEl = jQuery("#logo img.logo-main");
					var retinaLogoW = retinaEl.width();
					var retinaLogoH = retinaEl.height();
					retinaEl.attr("src", "../img/Danielkay.png").width(retinaLogoW).height(retinaLogoH);
					var stickyEl = jQuery("#logo img.logo-sticky");
					var stickyLogoW = stickyEl.width();
					var stickyLogoH = stickyEl.height();
					stickyEl.attr("src", "../img/Danielkay.png").width(stickyLogoW).height(stickyLogoH);
				}
			});
		</script>
	</body>
</html>