<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="app">
<meta charset="utf-8">
	<!--<![endif]-->
	<head>

		<!-- Basic Page Needs -->
		<meta charset="utf-8">
		<title>Daniel Kay</title>
		<meta name="description" content="I have spent the last 28 years of my life representing clients. I love helping people through difficult times in their lives to the extent I can. I have represented thousands of clients and have tried over 200 jury trials. I can proudly say it is extremely rare that a client is not extremely happy with the services my office provides. I have a passion for what I do and the work ethic to continue to provide exemplary service to my clients.">

	    <meta name="keywords" content="Daniel, G, Kay, Law, Lawyer, Attorney, At, Law, Help, Colorado, CO, Free, Consultation">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Favicons -->
		<link rel="shortcut icon" href="../img/favicon.ico">

		<!-- FONTS -->
		<link rel='stylesheet' id='Roboto-css' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
		<link rel='stylesheet' id='Patua+One-css' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
		
		<!-- CSS -->
		<link rel='stylesheet' id='global-css' href='../css/global.css'>
		<link rel='stylesheet' id='structure-css' href='../css/structure.css'>
		<link rel='stylesheet' id='local-css' href='../css/lawyer.css'>
		<link rel='stylesheet' id='custom-css' href='../css/custom.css'>

	</head>

	<body class=" layout-full-width no-content-padding header-classic sticky-header sticky-white subheader-both-center" ng-cloak>
		<!-- Main Theme Wrapper -->
				<div id="Wrapper">
			<!-- Header Wrapper -->
				<div id="Header_wrapper" >
				<!-- Header -->
				<header id="">
					
				<div id="Action_bar">
					<!-- 	<div class="container">
							<div class="column one" style="margin-top:15px;">
								
								<center>
									<h3 style="color:white;">
										Call today for a free consultation! + (719) 635-3611
									</h3>
								</center>
							</div>
						</div> -->
				</div>
			
					<div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <!-- Logo-->
                                <div class="logo">
                                    <a id="logo" href="../" title="Dan Kay"><img class="logo-main scale-with-grid" src="../img/Danielkay.png" alt="BeLawyer - BeTheme" /><img class="logo-sticky scale-with-grid img-responsive" src="../img/Danielkay.png" alt="" />
                                    </a>
                                </div>
                                
                                <!-- Main menu-->
                                <div class="menu_wrapper" style="margin-left:px;">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu">
                                            <li class=" current_page_item">
                                                <a href="/"><span>Home</span></a>
                                            </li>
                                            <li>
                                                <a href="../about#startLook"><span>About</span></a>
                                            </li>
                                            <li>
                                                <a href="../what-we-offer"><span>What we offer</span></a>
                                            </li>
                                            <li>
                                                <a href="/#reviews"><span>Reviews</span></a>
                                            </li>
                                            <li>
                                                <a href="../contact-us"><span>Contact us</span></a>
                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu"></i></a>
                                </div>
                                <!-- Header Searchform area-->
                                
                            </div>
                          <!--   <div class="top_bar_right">
                                
                            </div> -->
                        </div>
                    </div>
                </div>

				</header>
				<!--Subheader area - only for certain pages -->
				<!-- <div id="Subheader">
					<div class="container">
						<div class="column one">
							<h1 class="title">Contact us</h1>
						</div>
					</div>
				</div> -->
			</div>
			<!-- Main Content -->
				<div id="Content">
				<div class="content_wrapper clearfix">
					<div class="sections_group">
						<div class="entry-content" >
							<div class="section " style="padding-top:50px; padding-bottom:10px; background-color:; background-image:url(../img/home_lawyer_section.jpg); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" data-stellar-background-ratio="0.5">
								<div class="section_wrapper clearfix">
									<div class="items_group clearfix">
										<!-- One Fourth (1/4) Column -->
										<div class="column one-fourth column_column ">
											<div class="column_attr " >
												<h3>Daniel G Kay</h4>
												<p class="big">
													318 E.Pike Peak Ave 
													<br />
													Colorado Springs, 
													<br />
													CO 80903
												</p>
												<table style="margin-right:50px;">
													<tr>
														<td>Mon-Fri</td>
														<td><b>8:00</b> a.m.</td>
														<td><b>5:00</b> p.m.</td>
													</tr>
													<tr>
														<td>Sat</td>
														<td style="font-size: 11px;"><b>Available for appointments</b></td>
														<td><b>Please call</b></td>
													</tr>
													<tr>
														<td>Sun</td>
														<td><b>closed</b></td>
														<td><b>closed</b></td>
													</tr>
												</table>
											</div>
										</div>
										<!-- One Second (1/2) Column -->
										<div class="column one-second column_column">
											<div class="column_attr " ng-controller="MailSenderController as vm" >
												<h3 ng-show="!vm.done">Send us a message</h4>
												<div class="wpcf7" id="wpcf7-f43-p36-o1" lang="en-US" dir="ltr">
													<div class="screen-reader-response"></div>
													<form ng-show="vm.done === false"name="" class="wpcf7-form" novalidate="novalidate" ng-submit="vm.sendMail()">
														<div style="display: none;">
															<input type="hidden" name="_wpcf7" value="43" />
															<input type="hidden" name="_wpcf7_version" value="4.1.1" />
															<input type="hidden" name="_wpcf7_locale" value="en_US" />
															<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f43-p36-o1" />
															<input type="hidden" name="_wpnonce" value="9a88b9cc25" />
														</div>
														<!-- One Second (1/2) Column -->
														<div class="column one-second">
															<span class="wpcf7-form-control-wrap your-name">
																<input ng-model="vm.mail.name"type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your name" />
															</span>
														</div>
														<!-- One Second (1/2) Column -->
														<div class="column one-second">
															<span class="wpcf7-form-control-wrap your-email">
																<input ng-model="vm.mail.email"type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" placeholder="Your e-mail" />
															</span>
														</div>
														<div class="column one">
															<span class="wpcf7-form-control-wrap your-subject">
																<input ng-model="vm.mail.subject"type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" placeholder="Subject" />
															</span>
														</div>
														<div class="column one">
															<span class="wpcf7-form-control-wrap your-message"> 						
																<textarea ng-model="vm.mail.message" cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea" placeholder="Message"></textarea>
															</span>
														</div>
														<div class="column one">
															<input  type="submit" value="Send a message" class="wpcf7-form-control wpcf7-submit" />
														</div>

													</form>
													<div ng-show="vm.done">
															<h3 style="">Your message has been sent, we will get back to you as soon as we can. Thanks</h3>
													</div>
												</div>
											</div>
										</div>
										<!-- One Fourth (1/4) Column -->
										<div class="column one-fourth column_column ">
											<div class="column_attr " >
												<h3></h4>
												<p class="big">
													 Thank you for contacting the law offices of Daniel G Kay. We will try and respond to your message as soon as possible. 
												</p>
												<p>
													If you need to speak to a attonery immediately please call us at (719) 635-3611 or send us a fax at (719) 635-5544. Thanks 
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section " style="padding-top:40px; padding-bottom:0px; background-color:#EACCBB" >
								<div class="section_wrapper clearfix">
									<div class="items_group clearfix">
										<!-- One full width row-->
										<div class="column one column_column ">
											<div class="column_attr align_center" >
												<h2 style="margin: 0; color: #825339;">Call us + (719) 635-3611</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section full-width sections_style_0 " >
								<div class="section_wrapper clearfix">
									<div class="items_group clearfix">
										<!-- One full width row-->
										<div class="column one column_map ">

											<!-- Google map area -->
												<div class="google-map-wrapper no_border">
												<div class="google-map" id="map" style="width:100%; height:500px;">
													&nbsp;
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section the_content no_content">
								<div class="section_wrapper">
									<div class="the_content_wrapper"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer-->
		<footer id="Footer" class="clearfix">
            <div class="widgets_wrapper">
                <div class="container">
                    <!-- One Third (1/3) Column -->
                   <div class="column one-third">
                        <!-- Text Area -->
                        <aside id="text-2" class="widget widget_text">
                            <h4></h4>
                            <div class="textwidget">
                                Law Firms and Law Offices in Colorado Springs,<br> CO
                                Legal Services Office
                            </div>
                        </aside>
                    </div>
                    <!-- One Third (1/3) Column -->
                    <div class="column one-third">
                        <!-- Text Area -->
                        <aside id="text-3" class="widget widget_text">
                            <h4></h4>
                            <div class="textwidget">
                                Call today for your free Consultation<br>
                                Phone: (719) 635-3611<br>
                                Fax: (719) 635-5544
                            </div>
                        </aside>
                    </div>
                    <!-- One Third (1/3) Column -->
                    <div class="column one-third">
                        <!-- Text Area -->
                        <aside id="text-4" class="widget widget_text">
                            <h4></h4>
                            <div class="textwidget">
                                
                                318 E.Pike Peak Ave<br>
                                Colorado Springs, CO 80903
                                
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- Footer copyright-->
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" href="#" class="button button_left button_js"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
                        <div class="copyright">
                            &copy; 2015 BeLawyer - BeTheme. Edits & Development by Stuart Grossman - <a href="https://www.codingstew.net" target="_blank"><i style="color:gray;" class="fa fa-sitemap fa-lg"></i></a>
                        </div>
                        <!--Social info area-->
                        <ul class="social">
                            <!-- <li class="skype">
                                <a href="#" title="Skype"><i class="icon-skype"></i></a>
                            </li> -->
                            <li class="facebook">
                                <a target="_blank" href="https://www.facebook.com/DanielKayLaw/" title="Facebook"><i class="icon-facebook"></i></a>
                            </li>
                            <li class="googleplus">
                                <a target="_blank" href="https://plus.google.com/b/103489866348625083760/+DanielKayAttorneyatLawColoradoSprings/about" title="Google+"><i class="icon-gplus"></i></a>
                            </li>
                           <!--  <li class="twitter">
                                <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
                            </li>
                            <li class="vimeo">
                                <a href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
                            </li>
                            <li class="youtube">
                                <a href="#" title="YouTube"><i class="icon-play"></i></a>
                            </li>
                            <li class="flickr">
                                <a href="#" title="Flickr"><i class="icon-flickr"></i></a>
                            </li> -->
                            <li class="linkedin">
                                <a target="_blank" href="https://www.linkedin.com/in/daniel-kay-10ab0b117" title="LinkedIn"><i class="icon-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
		</div>

		<!-- JS -->
		<script
     		 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR4uInfVhGOVQPhgf8wkvxHpiEEYerVq8">
    	</script>
    	<script type="text/javascript" src="../js/googlemap.js"></script>
		<script type="text/javascript" src="../angular/angular.js"></script>
		<script type="text/javascript">
			var myApp = angular.module('app', []);
		</script>
		<script type="text/javascript" src="../js/route.js"></script>
		

		<script type="text/javascript" src="../js/factorys/HomeFactory.js"></script>
		<script type="text/javascript" src="../js/controllers/MailSenderController.js"></script>
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>

		<script type="text/javascript" src="../js/mfn.menu.js"></script>
		<script type="text/javascript" src="../js/jquery.plugins.js"></script>
		<script type="text/javascript" src="../js/jquery.jplayer.min.js"></script>
		<script type="text/javascript" src="../js/animations.js"></script>
		<script type="text/javascript" src="../js/scripts.js"></script>

		

	</body>
</html>